node_modules
package-lock.json
*-*-*-*.json
*-*-*-*.spec
.vscode/
.libraries.json
.nyc_output/
coverage/
libraries/
.DS_Store
tmp/
.idea/
.php_cs.cache
*.iml

coverage.html
coverage.out
go.sum

**/csharp/**/bin
**/csharp/**/obj
**/csharp/**/.vs

.classpath
.project
.settings

target